// tipographic
$fuente_principal: 'Montserrat', sans-serif;

// colors

$verde : #4cb883;
$rosa: #f53f56;
$amarillo: #fef46d;
$morado: #752f97;
$negro: black;
$blanco: white;

//mq

$telefono: 488px;
$tablet: 768px;
$deskotop: 992px;
$deskotopXL: 1200px;